<div *ngIf='productForm'>
  <form [formGroup]='productForm'>
    <mat-card class='small-top-margin'>
      <mat-card-content>
        <div>
          <mat-form-field appearance='standard'>
            <mat-label>Name</mat-label>
            <input matInput formControlName='name'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='standard'>
            <mat-label>Category</mat-label>
            <input matInput formControlName='category'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='standard'>
            <mat-label>Price</mat-label>
            <input matInput formControlName='price'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='standard' class='full-width'>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName='description'></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='standard' class='full-width'>
            <mat-label>Image</mat-label>
            <input matInput formControlName='image'>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
